body{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.welcomeheading{

  /* font-family: "Roboto,bold" , sans-serif; */
  font-size: 82px;
  color: white;
  width: 584px;
  margin: 0 auto;
  line-height: 79px;
  letter-spacing: -1.97px;
  font-weight: 600;
  margin-bottom: 20px;

}
.logodiv{

  height: 300px;
  color: white;
  background-color: white;

}